@import "./base.css";
html{
  scroll-behavior: smooth;
}
#app{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
  min-height: 100vh;
}
a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (min-width: 1024px) {
}
